<div class="w-full">
    <div class="chat chat-end justify-items-end justify-self-end">
        <div class="chat-bubble chat-bubble-accent text-left">
            {{reply}}
        </div>
    </div>
</div>