<div class="card bg-primary w-full max-w-md mx-auto">
    <div class="card-body">
        <article class="text-primary-content prose prose-md mb-4">
            <h2 class="card-title text-primary-content">Papan Pesan Rahasia</h2>
            <p>Dapatkan pesan rahasia dari teman-temanmu!</p>
            <p>Inilah kesempatanmu untuk memperbaiki diri dan pertemanan tanpa berat hati.</p>
        </article>
        <form hx-post="/"
              hx-swap="outerHTML"
              hx-trigger="submit"
              hx-target="closest .card"
              class="gap-4 flex flex-col"
        >
            <input name="username" type="text" placeholder="Namamu" class="input input-bordered w-full" pattern="^(?!\s*$).+$" required/>
            <div class="card-actions justify-end">
                <button class="btn w-full" type="submit">Daftar</button>
            </div>
        </form>
    </div>
</div>