<div class="card bg-neutral text-neutral-content w-full max-w-md mx-auto mb-8">
    <div class="card-body">
        <article class="card-title prose prose-md mb-4">
            <h4 class="text-neutral-content">Kirimkan pesan rahasia untuk temanmu</h4>
        </article>
        <textarea class="textarea text-base-content w-full" required placeholder="Pesan"></textarea>
        <div class="card-actions">
            <button class="btn w-full" type="submit">Kirimkan pesan</button>
        </div>
    </div>
</div>